body {

  background-color: #17a2b8;
  
  
  
}

.contact_form ul {
 width: 750px;
 list-style-type: none;
 list-style-position: outside;
 margin: 0px;
 padding: 0px;
}

.contact_form li {
 padding: 12px;
 border-bottom: 1px solid #eee;
 position: relative;
}

 .contact_form li:first-child, .contact_form li:last-child {
 border-bottom: 1px solid #777;
 }
  
#login .container #login-row #login-column #login-box {

  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
